
.post {
    background-color: white;
    --default_margin: 16px;
    max-width: 540px;
    width: 100%;
    border: 1px solid lightgrey;
    margin-bottom: 45px;
}

@media only screen and (max-width: 1023px) {
    .post {
        width: 100%;
    }
}

.post__header {
    display: flex;
    flex-direction: row;
    align-items: center;
    margin: var(--default_margin);
}

.post__avatar {
    margin-right: var(--default_margin);
    width: 36px;
    height: 36px;
}

.post__image {
    width: 100%;
    height: auto;
    background-color: #fafafa;
    object-fit: contain;
    border-top: 1px solid lightgray;
    border-bottom: 1px solid lightgray;
    transition: all 0.2s;
}

.post__caption {
    margin: var(--default_margin);
}
.post__caption .comment .comment__avatar {
    margin-right: calc(var(--default_margin) - 4px);
    width: 36px;
    height: 36px;
    margin-bottom: 12px;
}

.post__commentContainer {
    margin: var(--default_margin);
}

.post__inputComment {
    width: 100%;
    padding: 10px;
    box-sizing: border-box;
}

.post__inputComment form {
    display:flex;
    flex-direction: row;
    width: 100%;
    box-sizing: border-box;
}

.post__inputComment form input {
    flex: 1;
}

.post__inputComment form button {
    font-size: 14px;
    background-color: #fafafa;
    padding: 8px;
    border-radius: 4px;
    border: 1px solid lightgrey;
    margin-bottom: 8px;
    margin-left: 8px;
}