* {
  margin: 0;
}

.app {
  background-color: #fafafa;
  height: 100vh;
}

.app_header {
  background-color: white;
  width:100%;
  border-bottom: 1px solid lightgray;
}

.app_headerImage {
  padding: 20px;
  width: 120px;
  object-fit: contain;
}